*{
    margin: 0;
    padding: 0;
}

#HOME{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(background.jpeg);
    height: 100%;
    background-size: cover;
    background-position: center;
    margin-top: 0;
    height: 900px;
}

.title{
    color: white;
    font-family: "Railway", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
}

.input{
    color: white;
    float: right;
    font-family: "Railway", sans-serif;
    font-size: 20px;
    margin-top: 150px;
    margin-right: 100px;
}