*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(background.jpeg);
    background-size: 1080px;
}

#HOME{
    background-size: cover;
    background-position: center;
    margin-top: 0px;
    height: 700px;
}

.title{
    color: white;
    font-family: "Railway", sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    font-size: 20px;
    text-align: center;
    margin-top: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input{
    color: white;
    float: right;
    font-family: "Railway", sans-serif;
    font-size: 20px;
    margin-left: 0px;
    margin-right: 300px;
    margin-top: 200px;
}

#map {
    margin-top: 150px;
    margin-left: 100px;
    width: 600px;
    height: 400px;
    float: left;
}
